In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('~/data/raw/indeed_job_dataset.csv')

In [3]:
df.shape

(5715, 43)

In [4]:
df.columns

Index(['Unnamed: 0', 'Job_Title', 'Link', 'Queried_Salary', 'Job_Type',
       'Skill', 'No_of_Skills', 'Company', 'No_of_Reviews', 'No_of_Stars',
       'Date_Since_Posted', 'Description', 'Location', 'Company_Revenue',
       'Company_Employees', 'Company_Industry', 'python', 'sql',
       'machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java',
       'Others', 'CA', 'NY', 'VA', 'TX', 'MA', 'IL', 'WA', 'MD', 'DC', 'NC',
       'Other_states', 'Consulting and Business Services',
       'Internet and Software', 'Banks and Financial Services', 'Health Care',
       'Insurance', 'Other_industries'],
      dtype='object')

In [5]:
skills = pd.DataFrame(df, columns=['Job_Title','Skill'])

In [6]:
skills.sample(200)

,Job_Title,Skill
3394,Health Care Data Analyst,"['Data Mining', 'Machine Learning']"
2137,MTS - Data Science / Machine Learning,"['Java', 'Machine Learning', 'NoSQL', 'Project..."
3195,Data Analyst - Automotive Retail,"['Microsoft Powerpoint', 'SQL', 'Tableau']"
5660,Platinion Senior Data Engineer,"['TensorFlow', 'Machine Learning', 'Azure', 'S..."
3726,Global Project Data Analyst (Data Analyst II),"['Time Management', 'SQL']"
...,...,...
5617,Data Engineer,"['Linux', 'Machine Learning', 'DynamoDB', 'SQL..."
816,Data Scientist,"['Microsoft SQL Server', 'Machine Learning', '..."
3847,SQL Data Analyst- Applied Technology - Tax,"['T-SQL', 'Microsoft SQL Server', 'Accounting'..."
2789,Revenue Cycle Data Analyst (Baltimore),"['Microsoft Powerpoint', 'Visio', 'Data Analys..."
2563,Data Analyst,NaN

In [7]:
skills['Job_Title'].value_counts()

Data Scientist                                            715
Data Analyst                                              405
Data Engineer                                             391
Senior Data Scientist                                     205
Senior Data Engineer                                      136
                                                         ...
CCS Data Scientist                                          1
Research Scientist (Machine Learning)                       1
Data Analyst Specialist                                     1
Data Scientist or Senior Data Scientist - Solaria Labs      1
Data Scientist ∞ (Maplewood, MN)                            1
Name: Job_Title, Length: 2314, dtype: int64

In [8]:
skills['Job_Title'].nunique()

2314

In [9]:
ds_df = skills[skills['Job_Title'].str.contains('Data Scien', case = False)]

In [10]:
ds_df

,Job_Title,Skill
0,Data Scientist,"['SAP', 'SQL']"
1,Data Scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']"
2,Data Scientist,"['Data Mining', 'Data Management', 'R', 'SAS',..."
3,Graduate Studies Program - Data Scientist,['Certified Internal Auditor']
4,Data Scientist I,"['Statistical Software', 'Time Management', 'R..."
...,...,...
4741,Data Engineer - Advanced Analytics and Data Sc...,"['Natural Language Processing', 'R', 'SAS', 'P..."
5108,Data Engineer (Data Science Focus),"['Linux', 'Machine Learning', 'Hadoop', 'R', '..."
5380,"Data Engineer, Data Science",NaN
5625,Data Science Data Engineer,"['Spring', 'Hive', 'Hadoop', 'HBase', 'Big Dat..."
5645,Data Engineer - Center of Data Science Team,"['Linux', 'Microsoft SQL Server', 'R', 'SQL', ..."

In [11]:
ds_df['Skill'][1].split(",")

["['Machine Learning'", " 'R'", " 'SAS'", " 'SQL'", " 'Python']"]

In [12]:
re.findall(r"'([^']*)'", ds_df['Skill'][1])

['Machine Learning', 'R', 'SAS', 'SQL', 'Python']

In [13]:
ds_df = ds_df.dropna(0)

In [14]:
skills_list = []
for row in ds_df.index:
    skills_list.extend(re.findall(r"'([^']*)'", ds_df['Skill'][row]))

In [15]:
len(skills_list)

20804

In [24]:
skills_list.count('Yaml')

0

In [17]:
from collections import Counter

In [18]:
Counter(skills_list).most_common()

[('Python', 1844),
 ('Machine Learning', 1727),
 ('R', 1529),
 ('SQL', 1177),
 ('Hadoop', 808),
 ('Spark', 724),
 ('Data Mining', 719),
 ('Java', 643),
 ('SAS', 565),
 ('Tableau', 487),
 ('Natural Language Processing', 481),
 ('Hive', 440),
 ('AI', 406),
 ('Big Data', 405),
 ('C/C++', 382),
 ('TensorFlow', 376),
 ('MATLAB', 346),
 ('Scala', 327),
 ('AWS', 304),
 ('Linux', 220),
 ('Data Science', 213),
 ('NoSQL', 184),
 ('SPSS', 175),
 ('Azure', 172),
 ('Data Analysis', 166),
 ('Perl', 157),
 ('Scripting', 155),
 ('Git', 150),
 ('Pig', 150),
 ('TS/SCI Clearance', 143),
 ('Oracle', 143),
 ('Docker', 137),
 ('Image Processing', 135),
 ('Statisical Analysis', 135),
 ('Statistical Software', 122),
 ('JavaScript', 120),
 ('.Net', 120),
 ('Splunk', 117),
 ('Microsoft SQL Server', 109),
 ('C#', 108),
 ('Software Development', 105),
 ('Elasticsearch', 102),
 ('Design Experience', 97),
 ('HBase', 97),
 ('MySQL', 96),
 ('Project Management', 93),
 ('Kafka', 90),
 ('MongoDB', 81),
 ('Quantitative Analysis', 79),
 ('Google Cloud Platform', 79),
 ('OOP', 79),
 ('Shell Scripting', 78),
 ('Marketing', 75),
 ('Data Warehouse', 71),
 ('Microsoft Powerpoint', 71),
 ('Microsoft Office', 69),
 ('PHP', 66),
 ('Leadership Experience', 63),
 ('Cassandra', 63),
 ('PostgreSQL', 61),
 ('Ruby', 60),
 ('Solr', 57),
 ('Predictive Analytics', 56),
 ('S3', 52),
 ('Power BI', 51),
 ('Teradata', 49),
 ('Data Management', 48),
 ('Sentiment Analytics', 47),
 ('HTML5', 45),
 ('Excel', 44),
 ('STATA', 43),
 ('Weka', 43),
 ('SAP', 40),
 ('Jira', 38),
 ('Signal Processing', 38),
 ('GIS', 37),
 ('Network', 37),
 ('Apache', 37),
 ('JSON', 36),
 ('Alteryx', 34),
 ('Business Intelligence', 34),
 ('Experimental Design', 34),
 ('CSS', 31),
 ('Threading', 31),
 ('DB2', 30),
 ('QlikView', 30),
 ('Visual Basic', 28),
 ('CI', 27),
 ('REST', 26),
 ('Analysis Skills', 25),
 ('XML', 25),
 ('CI/CD', 25),
 ('SDLC', 24),
 ('Cloud Computing', 23),
 ('CompTIA Security+', 23),
 ('Confluence', 22),
 ('Military Experience', 21),
 ('Time Management', 20),
 ('Angular', 20),
 ('ArcGIS', 19),
 ('Kubernetes', 19),
 ('Business Analysis', 17),
 ('Lucene', 17),
 ('Node.js', 16),
 ('Unit Testing', 16),
 ('Troubleshooting', 14),
 ('Microsoft Word', 14),
 ('Red Hat Enterprise Linux', 14),
 ('Go', 14),
 ('Jenkins', 14),
 ('Microsoft Access', 13),
 ('Intelligence Experience', 13),
 ('DynamoDB', 12),
 ('Technical Writing', 12),
 ('Martech', 12),
 ('Minitab', 11),
 ('T-SQL', 11),
 ('Lean', 11),
 ('Digital Marketing', 11),
 ('Bioinformatics', 10),
 ('SVN', 10),
 ('Financial Modeling', 10),
 ('Operations Research', 10),
 ('SharePoint', 9),
 ('MCSD', 9),
 ('Customer Segmentation', 9),
 ('Redis', 9),
 ('Clojure', 9),
 ('React', 9),
 ('IIS', 8),
 ('PL/SQL', 8),
 ('Clinical Trials', 8),
 ('Quantitative Research', 8),
 ('Service-Oriented Architecture', 8),
 ('Facebook Advertising', 8),
 ('SaaS', 8),
 ('Attribution Modeling', 8),
 ('Maven', 8),
 ('CISSP', 8),
 ('Six Sigma Certification', 7),
 ('Google Analytics', 7),
 ('System Design', 7),
 ('Intelligence Community Experience', 7),
 ('Web Development', 7),
 ('Adobe Marketing', 7),
 ('Informatica', 7),
 ('DoD 8570', 7),
 ('Design Patterns', 7),
 ('Google AdWords', 7),
 ('Information Security', 6),
 ('Eclipse', 6),
 ('PMP', 6),
 ('Multichannel Marketing', 6),
 ('Supply Chain Experience', 6),
 ('Conversion Optimization', 6),
 ('NIST', 6),
 ('Teaching Experience', 6),
 ('Cybersecurity', 6),
 ('Next Generation Sequencing', 5),
 ('Salesforce CRM', 5),
 ('Marketing Automation', 5),
 ('Haskell', 5),
 ('Survival Analysis', 5),
 ('Software Testing', 5),
 ('TCP/IP', 5),
 ('TCP', 5),
 ('Supervising Experience', 5),
 ('Mac OS', 5),
 ('Distributed Control Systems', 5),
 ('Continuous Improvement', 5),
 ('Spring', 5),
 ('Survey Design', 5),
 ('Management Experience', 5),
 ('iOS', 5),
 ('VMWare', 5),
 ('IaaS', 5),
 ('"Drivers License"', 4),
 ('Qualitative Research', 4),
 ('Pentaho', 4),
 ('Customer Service', 4),
 ('Six Sigma', 4),
 ('Database Administration', 4),
 ('Microsoft Project', 4),
 ('Visio', 4),
 ('DNS', 4),
 ('Telecommunication', 4),
 ('SOAP', 4),
 ('4G/LTE', 4),
 ('Social Media Management', 4),
 ('Marketing Mix Modeling', 4),
 ('Embedded Software', 4),
 ('Ubuntu', 4),
 ('CentOS', 4),
 ('Bootstrap', 4),
 ('IT Experience', 4),
 ('CDISC Standards', 4),
 ('Crystal Reports', 4),
 ('Mesos', 4),
 ('Certified Internal Auditor', 3),
 ('CAD Software', 3),
 ('UI', 3),
 ('Google Suite', 3),
 ('SSL', 3),
 ('Visual Studio', 3),
 ('Strategic Planning', 3),
 ('Epic', 3),
 ('Windows', 3),
 ('Tomcat', 3),
 ('Adobe Photoshop', 3),
 ('Management Consulting', 3),
 ('Doubleclick', 3),
 ('GraphQL', 3),
 ('Qualtrics', 3),
 ('Database Marketing', 3),
 ('Omniture', 3),
 ('Clinical Research', 3),
 ('Test Automation', 3),
 ('Laboratory Experience', 3),
 ('FPGA', 3),
 ('Fortran', 3),
 ('Performance Marketing', 3),
 ('PaaS', 3),
 ('SPARQL', 3),
 ('Process Engineering', 3),
 ('HP ALM', 3),
 ('ADAS', 3),
 ('ACH', 2),
 ('RMF', 2),
 ('IAT', 2),
 ('FTP', 2),
 ('UX', 2),
 ('JBoss', 2),
 ('Kanban', 2),
 ('Adobe Creative Suite', 2),
 ('Quality Control', 2),
 ('PostGIS', 2),
 ('CAD', 2),
 ('Epic Certification', 2),
 ('Process Mapping', 2),
 ('Retail Link', 2),
 ('Salesforce Marketing Cloud', 2),
 ('ERP Systems', 2),
 ('HDI Certification', 2),
 ('NGINX', 2),
 ('Lean Manufacturing', 2),
 ('InVision', 2),
 ('SSH', 2),
 ('Lua', 2),
 ('Biostatistics', 2),
 ('OpenStack', 2),
 ('Change Management', 2),
 ('Project Leadership', 2),
 ('Technical Support', 2),
 ('Ember', 2),
 ('Aviation Experience', 2),
 ('Network Security', 2),
 ('Design Controls', 2),
 ('Quality Management', 2),
 ('Project Planning', 1),
 ('LMRT', 1),
 ('Grant Writing', 1),
 ('Pardot', 1),
 ('Cell Biology', 1),
 ('Immunoassays', 1),
 ('Managed Care', 1),
 ('Drupal', 1),
 ('Content Management Systems', 1),
 ('WordPress', 1),
 ('IDS', 1),
 ('IAT Level II', 1),
 ('Control-M', 1),
 ('iWork', 1),
 ('Android', 1),
 ('Audits', 1),
 ('Akka', 1),
 ('ZooKeeper', 1),
 ('ICD-10', 1),
 ('ICD-9', 1),
 ('Learning Technology', 1),
 ('Responsive Web Design', 1),
 ('Build Automation', 1),
 ('Accounting', 1),
 ('Medical Imaging', 1),
 ('Cash Flow Analysis', 1),
 ('Swift', 1),
 ('IAT Level I', 1),
 ('Email Marketing', 1),
 ('LAMP Stack', 1),
 ('Malware Analysis', 1),
 ('WebSphere', 1),
 ('NFS', 1),
 ('Sales Experience', 1),
 ('Adobe InDesign', 1),
 ('Rust', 1),
 ('New Relic', 1),
 ('Oracle EBS', 1),
 ('Genetics', 1),
 ('Project Engineering', 1),
 ('Chef', 1),
 ('Software Troubleshooting', 1),
 ('Agriculture', 1),
 ('Project Implementation', 1),
 ('Calculus', 1),
 ('CPA', 1),
 ('Certified Management Accountant', 1),
 ('Acquisition Strategy', 1),
 ('PCI', 1),
 ('FINRA License', 1),
 ('Internal Audits', 1),
 ('Certified Scrum Master', 1),
 ('Front-End Development', 1),
 ('SOX', 1),
 ('E-Commerce', 1),
 ('OBIEE', 1),
 ('Technical Project Management', 1),
 ('Business Process Reengineering', 1),
 ('XSLT', 1),
 ('Compliance Management', 1),
 ('Project Management Methodology', 1),
 ('CEH', 1),
 ('GSEC', 1),
 ('Hibernate', 1),
 ('Unity', 1),
 ('Identity And Access Management', 1),
 ('Selenium', 1),
 ('TestNG', 1),
 ('Firewall', 1),
 ('LDAP', 1),
 ('Active Directory', 1),
 ('Public Relations', 1),
 ('GAAP', 1)]